/*

!.gitignore
!.gitconfig
!.zshrc
!.zshenv
!.vimrc
!.oh-my-zsh/

!.config/
.config/*
!.config/helix/
.config/helix/runtime
!.config/nvim/init.vim
!.config/starship.toml

!.alacritty.yml

!README.md
