[user]
	email = mail@karei.dev
	name = karei
	signingkey = 
[pull]
	rebase = true
[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	navigate = true
	light = false
	line-numbers = true
	features = decorations

[merge]
	conflictStyle = diff3

[diff]
	colorMoved = default

[init]
	defaultBranch = dev
[gpg]
	program = gpg
[commit]
	gpgsign = true
