/*

!.gitignore
!.gitconfig
!.zshrc
!.zshenv
!.vimrc
!.oh-my-zsh/
!.tmux.conf

!.config/
.config/*
!.config/helix/
.config/helix/runtime
.config/helix/contrib
!.config/nvim/init.vim
!.config/starship.toml
!.config/polybar
!.config/picom
!.config/leftwm
!theme

!.alacritty.yml

!README.md
